<template>
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle border border-0" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa-solid fa-ellipsis"></i>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                    :data-bs-target="`#edit-review-modal-${review.id}`">
                    <i class="fa-solid fa-pen-to-square mx-1 text-warning"></i> Edit
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="#" data-bs-toggle="modal"
                    :data-bs-target="`#delete-review-modal-${review.id}`">
                    <i class="fa-solid fa-trash-can mx-1 text-danger"></i> Delete
                </a>
            </li>
        </ul>
    </div>
</template>
  
<script>
export default {
    props: {
        review: {
            type: Object,
            required: true,
        },
    },
};
</script>
  