<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Navbar from './components/Navbar.vue';
</script>

<template>
    <header v-if="showNavbar">
        <div class="wrapper">
            <Navbar></Navbar>
        </div>
    </header>

    <RouterView />
</template>

<style lang="scss">
@import './scss/custom.scss';
</style>

<script>
export default {
    name: 'App',
    computed: {
        showNavbar() {
            const currentRoute = this.$route.name;
            return !["auth.register", "auth.login"].includes(currentRoute);
        },
    },
    components: {
        Navbar,
    }
}
</script>